<p>
Activate your account
</p>
<p>
Hey <%= @user.name %>, welcome to Kitsu! We know that you're not a robot, but can you ever be too sure?
</P>
<p>
  Confirm your email with this fancy big link right here:
</p>
<p>
  <%= link_to('Confirm Email', @confirm_link) %>
</p>
<p>
	Have a question, compliment, criticism or funny joke? Go ahead and reply to this email or contact us at hello@kitsu.io
</p>
