<%- content_for(:preview) do %>
  We know you're not a robot, but can you ever be too sure?
<%- end %>
<tr><td class="spacer-cell"></td></tr>
<tr>
  <td class="section-cell section-with-action section-with-illust">
    <%= image_tag("illustrations/robot.png", width: 128, height: 128, alt: "") %>
    <h1 class="text-header">Activate your Account</h1>
    <p class="text-subheader">
      We know you're not a robot, but can you ever be too sure?<wbr />
      Confirm your email with the fancy green button below!
    </p>
    <a href="<%= @confirm_link %>" class="btn">
      Confirm Email
    </a>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "EmailMessage",
        "potentialAction": {
          "@type": "ConfirmAction",
          "name": "Confirm Email",
          "handler": {
            "@type": "HttpActionHandler",
            "url": "https://kitsu.app/api/users/_confirm?token=<%= @token.token %>"
          }
        },
        "description": "Activate your account"
      }
    </script>
  </td>
</tr>
