<p>
	Forget your password?
</p>
<p>
	You're in quite a pickle. For a small fee, we could make this problem... dissapear. What do you mean you wouldn't pay for that? Fine - we'll do it for free.
</p>
<p>
  The stupid button is below
</p>
<p>
  <%= link_to('Reset your password', @reset_link) %>
</p>
<p>
	Have a question, compliment, criticism or funny joke? Go ahead and reply to this email or contact us at hello@kitsu.io
</p>

