<%- content_for(:preview) do %>
  We've received a request to reset your password on Kitsu
<%- end %>
<tr><td class="spacer-cell"></td></tr>
<tr>
  <td class="section-cell section-with-action section-with-illust">
    <%= image_tag("illustrations/detective.png", width: 128, height: 128, alt: "") %>
    <h1 class="text-header">Forgot Password?</h1>
    <p class="text-subheader">
      We've received a request to reset your password on Kitsu,<wbr />
      if you didn't make this request - ignore this email.
    </p>
    <a href="<%= @reset_link %>" class="btn">
      Reset Password
    </a>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "EmailMessage",
      "potentialAction": {
        "@type": "ViewAction",
        "target": "<%= @reset_link %>",
        "name": "Reset Password"
      },
      "description": "Reset your Kitsu password"
    }
    </script>
  </td>
</tr>
