<p>
	Remember Hummingbird?
</p>
<p>
We rewrote it from scratch and renamed it to Kitsu! We've made a buttload of improvements... and we made them for you. Well... not really YOU in particular... but, like... the idea of you. Your old login still works, so go check that crap out!
</P>
<p>
  <%= link_to('Check that crap out', @rengagement_link) %>
</p>
<p>
	Have a question, compliment, criticism or funny joke? Go ahead and reply to this email or contact us at hello@kitsu.io
</p>
