<%= form.collection_check_boxes(field.method_name, field.pairs, :last, :first) do |box| %>
  <div class="checkbox">
    <%= box.label do %>
      <%= box.check_box %>
      <%= box.text %>
    <% end %>
  </div>
<% end %>
