.animated {
  transition: all 0.15s ease-in 0s;
}

.text-body {
  font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
}

.text-header {
  font-family: Asap, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  word-break: break-word;
}

.text-subheader {
  @extend .text-body;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.text-quote {
  @extend .text-subheader;

  background-color: $light-grey;
  border: 1px darken($light-grey, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  @extend .text-header;
}

h1, h2, h3, h4, h5, h6, p {
  /* Bypasses filter in Outlook */
  Margin-top: 0;
  Margin-bottom: 0;
}

h1 {
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 8px;
}

a {
  text-decoration: none !important;
}

a img {
  @extend .animated;
}
a:hover img {
  opacity: 0.6;
}

img.avatar {
  border-radius: 100em;
}
